<%= form_for(@grade, html: {multipart: true}) do |f| %>
  <% if @grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grade.errors.count, "error") %> prohibited this grade from being saved:</h2>
      <ul>
      <% @grade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <%= form_group_tag(grade.errors[:level]) do %>
    <%= f.label t('forms.grade_level') %>
    <%= select_tag(:level, options_for_select((1..11).step(1).map{|n| [n.ordinalize + " Grade", n.to_i]} ), class: "form-control") %>
  <% end %>

  <%= form_group_tag(grade.errors[:description]) do %>
    <%= f.label t('forms.description') %>
    <%= f.cktext_area :description, rows: 20, class: 'form-control', placeholder: "description of a new class" %>
  <% end %>

  <% if @grade.grade_images.length > 0 %>
  <div class="row">
    <% @grade.grade_images.each do |img_row| %>
      <div class="edit-form-img-thumb">
        <%= link_to "#{t('forms.delete_image')}", grade_image_path(img_row.id), method: :delete %>
        <div class="img-preview-control">
          <img src="<%=img_row.image%>" alt="course image"/>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>



  <div class="form-group">
    <%= f.submit "#{t('forms.save_grade')}", class: 'btn btn-success save-form-btn'%>
  </div>

<% end %>
