<%= form_for(@workshop, html: {multipart: true}) do |f| %>
  <% if @workshop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workshop.errors.count, "error") %> prohibited this @workshop from being saved:</h2>

      <ul>
      <% @workshop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_group_tag(@workshop.errors[:name]) do %>
    <%= f.label t('forms.title') %>
    <%= f.text_field :name, class: 'form-control', placeholder:"...name", value: "#{@workshop.name}" %>
  <% end %>

  <%= form_group_tag(@workshop.errors[:price]) do %>
    <%= f.label t('forms.price') %>
    <%= f.text_field :price, class: 'form-control', placeholder: "...price", value: "#{@workshop.price}" %>
  <% end %>

  <%= form_group_tag(@workshop.errors[:instructor]) do %>
    <%= f.label t('forms.instructor') %>
    <%= f.text_field :instructor, class: 'form-control', placeholder: "...instructor", value: "#{@workshop.instructor}" %>
  <% end %>

  <%= form_group_tag(@workshop.errors[:instructor]) do %>
    <%= f.label t('forms.time') %>
    <%= f.text_field :time, class: 'form-control', value: "#{@workshop.time}" %>
  <% end %>

  <%= form_group_tag(@workshop.errors[:instructor]) do %>
    <%= f.label t('forms.room') %>
    <%= f.text_field :room, class: 'form-control', placeholder: "...room" , value: "#{@workshop.room}" %>
  <% end %>

  <%= form_group_tag(@workshop.errors[:details]) do %>
    <%= f.label t('forms.details') %>
    <%= f.cktext_area :details, rows: 20, class: 'form-control', value: "#{@workshop.details}" %>
  <% end %>

  <%= form_group_tag(@workshop.errors[:description]) do %>
    <%= f.label t('forms.description') %>
    <%= f.cktext_area :description, rows: 60, class: 'form-control', value: "#{@workshop.description}" %>
  <% end %>

<% if @workshop.workshop_images.length > 0 %>
  <div class="row">
  <% @workshop.workshop_images.each do |img_row| %>
    <div class="edit-form-img-thumb">
      <%= link_to "#{t('forms.delete_image')}", workshop_image_path(img_row.id), method: :delete %>
      <div class="img-preview-control">
        <img src="<%=img_row.image%>" alt="workshop_image"/>
      </div>
    </div>
  <% end %>
  </div>
<% end %>

<div class="form-group">
  <%= f.submit "#{t('forms.save_workshop')}", class: 'btn btn-success save-form-btn' %>
</div>

<% end %>
