<%= form_for(@workshop, html: {multipart: true}) do |f| %>
  <% if @workshop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workshop.errors.count, "error") %> prohibited this @workshop from being saved:</h2>

      <ul>
      <% @workshop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_group_tag(@workshop.errors[:name]) do %>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder:"...name" %>
  <% end %>

  <%= form_group_tag(@workshop.errors[:price]) do %>
    <%= f.label :price %>
    <%= f.text_field :price, class: 'form-control', placeholder: "...price" %>
  <% end %>

  <%= form_group_tag(@workshop.errors[:instructor]) do %>
    <%= f.label :instructor %>
    <%= f.text_field :instructor, class: 'form-control', placeholder: "...instructor" %>
  <% end %>

  <%= form_group_tag(@workshop.errors[:instructor]) do %>
    <%= f.label :time %>
    <%= f.text_field :time, class: 'form-control', placeholder: "...time" %>
  <% end %>

  <%= form_group_tag(@workshop.errors[:instructor]) do %>
    <%= f.label :room %>
    <%= f.text_field :room, class: 'form-control', placeholder: "...room" %>
  <% end %>

  <%= form_group_tag(@workshop.errors[:details]) do %>
    <%= f.label :details %>
    <%= f.cktext_area :details, rows: 20, class: 'form-control', placeholder: "...short detail" %>
  <% end %>

  <%= form_group_tag(@workshop.errors[:description]) do %>
    <%= f.label :description %>
    <%= f.cktext_area :description, rows: 60, class: 'form-control', placeholder: "...description of a new workshop" %>
  <% end %>

<% if @workshop.workshop_images.length > 0 %>
  <div class="row">
  <% @workshop.workshop_images.each do |img_row| %>
    <div class="edit-form-img-thumb">
      <%= link_to "Delete", workshop_image_path(img_row.id), method: :delete %>
      <div class="img-preview-control">
        <img src="<%=img_row.image%>" alt="workshop_image"/>
      </div>
    </div>
  <% end %>
  </div>
<% end %>

<div class="form-group">
  <%= f.submit "Save Workshop", class: 'btn btn-success save-workshop-btn' %>
</div>

<% end %>
