<div class="container general-edit-container">
  <h1 class="text-center"><%= t('forms.editing')%>  "<%=@workshop.name%>"</h1>

    <div class="row">
        <%= render 'form', workshop: @workshop %>
    </div>

    <% if @workshop.id != nil %>
    <div class="row">
      <h5><%=t('forms.image_uploader')%></h3>
    </div>
    <div class="row">
        <%= render 'image_form', image: @image %>
    </div>

    <% end %>
    <div class="row">
        <div class="form-back-btn">
            <%= link_to 'Back', admin_workshops_path %>
        </div>
    </div>

    <div class="strikethrough">
  </div>
</div>
<br>