<p id="notice"><%= notice %></p>

<h1>Workshops</h1>
<div class="container workshop-index-container">
    <p>
    Гуртки для дітей та курси для дорослих
    Починаючи з 2013/14 навчального року, Українська Суботня Школа - враховуючи численні побажання батьків - поступово розширює свої пропозиції з позашкільних занять. На даний час у нас на постійній основі займаються цікаві, повноцінні гуртки з висококласними викладачами, проводяться заняття як з дошкільнятами, так і з молодшими дітками, батьки мають змогу відвідати курси німецької або української мови. В результаті - і батьки, і молодші братики-сестрички наших учнів отримують можливість, цікаво і з користю провести час у приміщенні Української Суботньої Школи, очікуючи на своїх школярів. Коло відвідувачів наших курсів та гуртків не обмежується батьками школярів та учнями Української Суботньої Школи. Щиро запрошуємо всіх бажаючих: і дорослих, і дітей, які не мають відношення до Українськoї Суботньої Школи.
    </p>
    <p>
    ГУРТКИ  ДЛЯ ДІТЕЙ:

    Народна творчість
    Бальні танці
    Малювання
    Українська Музична Школа у Відні
    ПЛАСТ (або на сторінці Facebook)
    Клуб для тінейджерів - Future Minds - воркшопи на теми, які цікавлять тінейджерів, "Як бути  щасливим", "Страхи і як з ними боротися", "Таємниці раціонального використання часу".
    KУPCИ ДОРОСЛИХ:

    Курси німецької мови
    Курси української мови для іноземців
    Курс бального танцю

    ОПЛАТА:

    Групи формуються за умови мінімальної кількості бажаючих - 5 дітей/дорослих, танці - 8 дітей/дорослих. Mісячна оплата є фіксованою, не залежить від кількості субот в місяці і складає:

    - Гурток малювання - 30€ за дитину на місяць.
    - Гурток бального танцю - 30€ за дитину на місяць. Для дітей, які займаються бальними танцями у тренера протягом тижня, а також для групи o 14:00, оплата - індивідуальна. 
    - Гурток народної творчості: для учнів Української Суботньої Школи безкоштовоно; для інших дітей - 30€ за дитину на місяць.
    - ПЛАСТ для всіх дітей безкоштовоно, річний внесок - 50€.
    - Клуб для тінейджерів - Future Minds - 30€ за дитину на місяць.
    - Курси німецької мови - 180€ на ceмecтp.
    - Курси української мови - 80€ на місяць.
    - Курс бального танцю для дорослих - 30€ на місяць у групі на 12:00 (щосуботи заняття тривалістю 50 хв.), 50€ на місяць у групі на 9:20 (щосуботи заняття тривалістю 90 хв) - для батьків учнів нашої школи, викладачів та членів ТУМА. Для всіх інших дорослих - відповідно, 50€ на місяць за групу о 12:00 (50-хвилинні заняття щосуботи) і 70€ на місяць за групу о 9:20 (90-хвилинні заняття щосуботи).
    Перше пробне заняття безкоштовне.

    Прохання здійснювати оплату виключно на банківській рахунок до 5-го числа поточного місяця.
    Реквізити для оплати:
    IBAN AT44 1420 0200 1094 8119 
    BIC EASYATW1 
    Bank Easybank AG 
    Empfänger Ukrainisches Iwan Franko Zentrum f. Kultur u. Bildung
    Verwendungszweck/ Zahlungsreferenz назва гуртка або курсу, прізвище та ім’я дитини, місяць.

    ЗАПИС / ВІДМОВА ВІД ГУРТКІВ І КУРСІВ:

    Зацікавлених у відвідуванні гуртків i курсів для дорослих прохання звертатися до координатора Марини Подзигун за тел: +43(0)67761640109 aбo за емейлом info@ukr-schule.at.

    Якщо Ви або Ваша дитина більше не хочете відвідувати курс, прохання повідомити про це письмово по емейлу info@ukr-schule.at не пізніше ніж за місяць.

    ІНША ВАЖЛИВА ІНФОРМАЦІЯ: 
    •Навчальний рік 2018/2019 триває з 8 вересня 2018 по 15 червня 2019.
    •Заняття відбуваються щосуботи, незалежно від австрійських свят. 
    •Винятки: суботи – 22 грудня, 29 грудня 2018, 5 січня i 20 квітня 2019 - є вільними від уроків в Українській Суботній Школі. B ці дні Школа закрита.

    Більше про Першу Українську Музичну Школу у Відні Ви дізнаєтесь тут.
<p>
</div>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workshops.each do |workshop| %>
      <tr>
        <td><%= link_to 'Show', workshop %></td>
        <td><%= link_to 'Edit', edit_workshop_path(workshop) %></td>
        <td><%= link_to 'Destroy', workshop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workshop', new_workshop_path %>
