

<div class="container workshop-index-container">
  <div class="jumbotron workshops-index-picture">
    <div class="workshops-title">
      <i class="fas fa-shapes"></i>
      <h3>Workshops</h3>
    </diV>
  </div>
  <div class="row workshop-schedule-row">
    <div class="workshop-schedule-container">
      <img src="<%= @index_post_image.image%>" alt="main workshop image"/>
    </div>
  </div>
  <div class="row workshop-index-description-row">
    <h5>Important Information</h5>
    <div class="col-md-10 offset-md-1 description-column">
      <%=raw(@index_post.description) %>
    </div>
  </div>

  <div class="row workshop-card-row">
    <% @workshops.each do |workshop| %>
      <div class="col-md-4 d-flex align-items-stretch">

        <div class="card">
          <img class="card-img-top" src="<%=workshop.workshop_images[0].image %>" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%=workshop.name%></h5>
            <p class="card-text"><%=raw(workshop.description.truncate(110))%></p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>

      </div>
    <% end %>

  </div>

</div>
<footer class="navbar nav-footer navbar-expand">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-facebook-square"></i><span class="sr-only">(current)</span></a></li>
    <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-twitter-square"></i><span class="sr-only">(current)</span></a></li>
    <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-instagram"></i><span class="sr-only">(current)</span></a></li>
  </ul>
</footer>