<div id="workshop-index-intro">
  <div class="workshop-bg-image bg-parallax overlay"></div>
    <div id="workshop-index-title">
      <h3><%=t('workshops_t.workshops')%></h3>
      <p><i class="fas fa-school"></i></p>
    </div>
</div>

<div class="container" id="workshops workshop-index-container">

    <div class="row">
      <% @workshops.each do |workshop| %>
      <!-- single workshop -->
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="workshop">
          <a href="/<%=locale%>/workshops/<%=workshop.id%>" class="workshop-img">
            <% if workshop.workshop_images.length > 0 %>
              <img src="<%=workshop.workshop_images[0].image%>" alt="workshop image">
            <% else %>
              <img src="/assets/stock/workshop_stock_photo.jpg" alt="workshop image">
            <% end %>
            <i class="workshop-link-icon fa fa-link"></i>
          </a>
          <a class="workshop-title text-center" href="/<%=locale%>/workshops/<%=workshop.id%>"><%=workshop.name%></a>
          <div class="workshop-details">
            <span class="workshop-category"><span><%=t('workshops_t.instructor')%>: </span><%=workshop.instructor%></span>
            <span class="workshop-price workshop-free"><span><%=t('workshops_t.price')%>: </span><%=workshop.price%></span>
          </div>
        </div>
      </div>
      <!-- /single workshop -->
      <% end %>
    </div>
  </div>
</div>
<footer class="navbar nav-footer navbar-expand">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-facebook-square"></i><span class="sr-only">(current)</span></a></li>
    <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-twitter-square"></i><span class="sr-only">(current)</span></a></li>
    <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-instagram"></i><span class="sr-only">(current)</span></a></li>
  </ul>
</footer>