<div id="workshop-intro">
  <div class="workshop-bg-image bg-parallax overlay"></div>
    <div id="workshop-title">
      <h2><%=@workshop.name%></h2>
      <h5><%=t('workshops_t.instructor')%>: <%=@workshop.instructor%></h5>
    </div>
</div>
<div class="container workshop-container">

    <div class="row">
        <div class="col">
        <h3><%=t('workshops_t.details')%></h3>
        <%=raw(@workshop.details)%>
        </div>
    </div>

    <div class="row">
        <div class="col">
        <h3><%=t('workshops_t.description')%>:</h3>
        <%=raw(@workshop.description)%>
        </div>
    </div>

    <% if @workshop_images.length > 0%>
    <div class="row workshop-gal-row">
        <% @workshop_images.each_with_index do |data, index| %>
            <% data_id = "pic" + (index+1).to_s %>
            <% data_target = "#" + data_id %>
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a href="#" data-toggle="modal" data-target="<%=data_target%>">
                        <img src="<%= data.image %>">
                    </a>
                    <div class="modal fade" id="<%= data_id%>" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <div class="modal-body">
                                    <img src="<%= data.image %>">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <% end %>

    <div class="row workshop-form-row">
        <div class="col">
            <div class="blog-reply-form">
                <h3 class="text-center"><i class="fas fa-envelope"></i>   <%=t('workshops_t.contact')%></h3>
                <form>
                    <div class="form-group">
                        <input class="form-control" type="text" name="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="email" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Enter your Message"></textarea>
                    </div>
                        <button type="submit" class="btn btn-primary"><%=t('workshops_t.write_us')%></button>
                </form>
            </div>
        </div>
    </div>
</div>
<footer class="navbar nav-footer navbar-expand">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-facebook-square"></i><span class="sr-only">(current)</span></a></li>
    <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-twitter-square"></i><span class="sr-only">(current)</span></a></li>
    <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-instagram"></i><span class="sr-only">(current)</span></a></li>
  </ul>
</footer>