<%= form_for @topic_image do |f| %>

<% if @topic_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic_image.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @topic_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_group_tag(@topic_image.errors[:topic_image]) do %>
    <%= f.label :image %>
    <%= f.file_field :image %>
  <% end %>
  <div class="form-group">
    <%= f.button "Save Image", class: "btn btn-success", name: 'topic_id', value: @topic.id %>
  </div>
<% end %>