<div class="container general-edit-container">
  <h1 class="text-center"><%= t('forms.editing')%>  "<%=@topic.name%>"</h1>

  <div class="row">
    <%= render partial: 'form', locals: {topic: @topic} %>
  </div>

  <% if @topic.id != nil %>
    <div class="row">
      <h5><%=t('forms.image_uploader')%></h3>
    </div>
    <div class="row">
      <%= render 'image_form', image: @image %>
    </div>
  <% end %>

  <div class="row">
    <div class="topic-back-btn">
      <%= link_to "#{t('forms.back')}", admin_news_topics_path %>
    </div>
  </div>

  <div class="strikethrough">
  </div>
</div>
<br>
