<h1><%= @topic.name %></h1>
<% if user_is_authorized_for_topics? %>
  <%= link_to("Edit Topic", edit_topic_path, class: 'btn btn-success') %>
  <%= link_to("Delete Topic", @topic, method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure you want to delete this topic?"}) %>
<% end %>

<div class="row">
  <div class="col-md-8">
    <p class="lead"><%= @topic.description %></p>
    <% @topic.posts.each do |post| %>
      <div class="media">
        <%= render partial: 'votes/voter', locals: { post: post } %>
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to(post.title, topic_post_path(@topic, post)) %>
          </h4>
          <small>
            <strong>submitted:</strong> <%= time_ago_in_words(post.created_at) %> ago <strong>by:</strong> <%= post.user.name %><br>
            <%= post.comments.count %> - Comments
          </small>
        </div>
      </div>
    <% end %>
    <% @topic.sponsored_posts.each do |s_post| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to(s_post.title, topic_sponsored_post_path(@topic, s_post)) %>
          </h4>
        <small>
          Our ads make this possible!</br>
          Created <%= time_ago_in_words(s_post.created_at) %> ago
        </small>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <% if current_user %>
      <%= link_to("New Post", new_topic_post_path(@topic), class: "btn btn-success") %>
    <% end %>
    <%= link_to("New Sponsored Post", new_topic_sponsored_post_path(@topic.id), class: "btn btn-success") %>
  </div>
</div>
