<div class="container admin-container">
    <div class="row">
        <div class="text-center mx-auto">
            <h4>Courses</h4>
        </div>
    </div>
    <div class="row">
        <table class="table w-100">
            <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Teacher</th>
                <th>Grade</th>
                <th>Period</th> 
                <th>Time</th>
                <th>Images</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <% @courses.each_with_index do |course, index|%>
            <tbody>
            <tr>
                <td scope="row"><%= (index + 1).to_s %></td>
                <td><%= course.name %></td>
                <td><%= User.find(course.user_id).full_name %></td>
                <td><%= course.grade.level.ordinalize || "" %></td>
                <td><%= course.period || "" %></td>
                <td><%= course.time || "" %></td>
                <td><%= course.course_images.count %></td>
                <td><%= course.created_at %></td>
                <td><%= course.updated_at %></td>
                <td><%= button_to "EDIT", {controller: "courses", action: "edit", id: course.id}, method: :get, class: "btn btn-warning" %></td>
                <td><%= button_to "DELETE", {controller: "courses", action: "destroy", id: course.id}, method: :delete, class: "btn btn-danger", data: {confirm: "ARE YOU SURE?"} %></td>
            </tr>
            </tbody>
            <% end %>
        </table>
    </div>
     <div class="row">
        <div class="text-center mx-auto">
        <%=button_to "NEW", new_course_path, class: "btn btn-success", method: :get %>
    </div>
</div>