<div class="container admin-container">
    <div class="row">
        <div class="text-center mx-auto">
            <h4><%= t('admin.edit_courses')%></h4>
        </div>
    </div>
    <div class="row">
        <table class="table w-100">
            <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th><%=t('admin.control.title')%></th>
                <th><%=t('admin.control.teacher')%>r</th>
                <th><%=t('admin.control.grade_level')%></th>
                <th><%=t('admin.control.room')%></th> 
                <th><%=t('admin.control.time')%></th>
                <th><%=t('admin.control.pictures')%></th>
                <th><%=t('admin.control.created_at')%></th>
                <th><%=t('admin.control.updated_at')%></th>
                <th><%=t('admin.control.edit')%></th>
                <th><%=t('admin.control.delete')%></th>
            </tr>
            </thead>
            <% @courses.each_with_index do |course, index|%>
            <tbody>
            <tr>
                <td scope="row"><%= (index + 1).to_s %></td>
                <td><%= course.name %></td>
                <td><%= User.find(course.user_id).full_name %></td>
                <td><%= course.grade.level.ordinalize || "" %></td>
                <td><%= course.room || "" %></td>
                <td><%= course.time || "" %></td>
                <td><%= course.course_images.count %></td>
                <td><%= time_tag(course.created_at) %></td>
                <td><%= time_tag(course.updated_at) %></td>
                <td><%= button_to "#{t('admin.control.edit')}", {controller: "courses", action: "edit", id: course.id}, method: :get, class: "btn btn-warning" %></td>
                <td><%= button_to "#{t('admin.control.delete')}", {controller: "courses", action: "destroy", id: course.id}, method: :delete, class: "btn btn-danger", data: {confirm: "ARE YOU SURE?"} %></td>
            </tr>
            </tbody>
            <% end %>
        </table>
    </div>
     <div class="row">
        <div class="text-center mx-auto">
        <%=button_to "#{t('admin.control.new')}", new_course_path, class: "btn btn-success", method: :get %>
    </div>
</div>