<div class="container admin-container">
    <div class="row">
        <div class="text-center mx-auto">
            <h4><%= t('admin.edit_grades')%></h4>
        </div>
    </div>
    <div class="row">
        <table class="table w-100">
            <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th><%=t('admin.control.grade_level')%></th>
                <th><%=t('admin.control.description')%></th>
                <th></th>
                <th></th> 
                <th><%=t('admin.control.pictures')%></th>
                <th><%=t('admin.control.created_at')%></th>
                <th><%=t('admin.control.updated_at')%></th>
                <th><%=t('admin.control.edit')%></th>
                <th><%=t('admin.control.delete')%></th>
            </tr>
            </thead>
            <% @grades.each_with_index do |grade, index|%>
            <tbody>
            <tr>
                <td scope="row"><%= (index + 1).to_s %></td>
                <td><%= grade.level.ordinalize %></td>
                <td><%= raw grade.description.truncate(20) %></td>
                <td></td>
                <td></td>
                <td><%= grade.grade_images.count %></td>
                <td><%= time_tag(grade.created_at) %></td>
                <td><%= time_tag(grade.updated_at) %></td>
                <td><%= button_to "#{t('admin.control.edit')}", {controller: "grades", action: "edit", id: grade.id}, method: :get, class: "btn btn-warning" %></td>
                <td><%= button_to "#{t('admin.control.delete')}", {controller: "grades", action: "destroy", id: grade.id}, method: :delete, class: "btn btn-danger", data: {confirm: "ARE YOU SURE?"} %></td>
            </tr>
            </tbody>
            <% end %>
        </table>
    </div>
     <div class="row">
        <div class="text-center mx-auto">
        <%=button_to "#{t('admin.control.new')}", new_grade_path, class: "btn btn-success", method: :get %>
    </div>
</div>