<div class="container">
<div class="row">
  <h3 class="mx-auto">Admin Page</h1>
</div>

<div class="row">
  <h3 class="mx-auto">Users</h3>
  <table class="table w-100">
    <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Confirmed</th>
        <th>Last Sign In</th>
        <th>Sign In Count</th>
        <th>Confirm User</th>
        <th>Delete User</th>
      </tr>
    </thead>
    <% @users.each_with_index do |user, index|%>
    <tbody>
      <tr>
        <td scope="row"><%= (index + 1).to_s %></td>
        <td><%= user.name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= user.confirmed_at %></td>
        <td><%= user.last_sign_in_at %></td>
        <td><%= user.sign_in_count %></td>
        <td><%= button_to "CONFIRM", {controller: "admin", action: "confirm_user", user_id: user.id}, method: :post, class: "btn btn-warning" %></td>
        <td><%= button_to "DELETE", {controller: "registrations", action: "destroy", user_id: user.id}, method: :delete, class: "btn btn-danger", data: {confirm: "ARE YOU SURE?"} %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>

<div class="row">
  <div class="text-center mx-auto">
    <h3>Workshops</h3>
    <%=button_to "NEW", new_workshop_path, class: "btn btn-success", method: :get%>
  </div>
  <table class="table w-100">
    <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Instructor</th>
        <th>Creted At</th>
        <th>Updated At</th>
        <th></th>
        <th>Edit Workshop</th>
        <th>Delete Workshop</th>
      </tr>
    </thead>
    <% @workshops.each_with_index do |workshop, index|%>
    <tbody>
      <tr>
        <td scope="row"><%= (index + 1).to_s %></td>
        <td><%= workshop.name %></td>
        <td><%= truncate(raw(workshop.description))%></td>
        <td><%= workshop.price %></td>
        <td><%= workshop.instructor %></td>
        <td><%= workshop.created_at %></td>
        <td><%= workshop.updated_at %></td>
        <td></td>
        <td><%= button_to "EDIT", {controller: "workshops", action: "edit", id: workshop.id}, method: :get, class: "btn btn-warning" %></td>
        <td><%= button_to "DELETE", {controller: "workshops", action: "destroy", id: workshop.id}, method: :delete, class: "btn btn-danger", data: {confirm: "ARE YOU SURE?"} %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>

<div class="row">
  <div class="text-center mx-auto">
    <h3>Courses</h3>
    <%=button_to "NEW", new_course_path, class: "btn btn-success", method: :get %>
  </div>
  <table class="table w-100">
    <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Teacher</th>
        <th>Grade</th>
        <th>Period</th> 
        <th>Time</th>
        <th>Created At</th>
        <th>Updated At</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <% @courses.each_with_index do |course, index|%>
    <tbody>
      <tr>
        <td scope="row"><%= (index + 1).to_s %></td>
        <td><%= course.name %></td>
        <td><%= User.find(course.user_id).name %></td>
        <td><%= course.grade || "" %></td>
        <td><%= course.period || "" %></td>
        <td><%= course.time || "" %></td>
        <td><%= course.created_at %></td>
        <td><%= course.updated_at %></td>
        <td><%= button_to "EDIT", {controller: "courses", action: "edit", id: course.id}, method: :get, class: "btn btn-warning" %></td>
        <td><%= button_to "DELETE", {controller: "courses", action: "destroy", id: course.id}, method: :delete, class: "btn btn-danger", data: {confirm: "ARE YOU SURE?"} %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>
<div class="row">
  <div class="text-center mx-auto">
    <h3>Index Pages</h3>
    <%= button_to "NEW", {controller: "index_posts", action: "new"}, method: :get, class: "btn btn-success" %>
  </div>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>Site Section</th>
        <th>Title</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Edit</th>
        <th>Delete</th>

      </tr>
    </thead>
    <% @index_posts.each_with_index do |post, index|%>
    <tbody>
      <tr>
        <th scope="row"><%= (index + 1).to_s %></th>
        <td><%= post.page_type %></td>
        <td><%= post.title %></td>
        <td><%= post.created_at %></td>
        <td><%= post.updated_at %></td>
        <td><%= button_to "EDIT", {controller: "index_posts", action: "edit", id: post.slug}, method: :get, class: "btn btn-warning" %></td>
        <td><%= button_to "DELETE", {controller: "index_posts", action: "destroy", id: post.slug}, method: :delete, class: "btn btn-danger", data: {confirm: "ARE YOU SURE?"} %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>


</div>