<div class="container">
    
    <div class="row">
        <div class="text-center mx-auto">
            <h3><%=t('admin.edit_index_posts')%></h3>
            <%= button_to "#{t('admin.control.new')}", {controller: "index_posts", action: "new"}, method: :get, class: "btn btn-success" %>
        </div>
        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>Site Section</th>
                <th><%=t('admin.control.title')%></th>
                <th><%=t('admin.control.created_at')%></th>
                <th><%=t('admin.control.updated_at')%></th>
                <th><%=t('admin.control.edit')%></th>
                <th><%=t('admin.control.delete')%></th>

            </tr>
            </thead>
            <% @index_posts.each_with_index do |post, index|%>
            <tbody>
            <tr>
                <th scope="row"><%= (index + 1).to_s %></th>
                <td><%= post.page_type %></td>
                <td><%= post.title %></td>
                <td><%= time_tag(post.created_at) %></td>
                <td><%= time_tag(post.updated_at) %></td>
                <td><%= button_to "#{t('admin.control.edit')}", {controller: "index_posts", action: "edit", id: post.slug}, method: :get, class: "btn btn-warning" %></td>
                <td><%= button_to "#{t('admin.control.delete')}", {controller: "index_posts", action: "destroy", id: post.slug}, method: :delete, class: "btn btn-danger", data: {confirm: "ARE YOU SURE?"} %></td>
            </tr>
            </tbody>
            <% end %>
        </table>
    </div>


</div>