<div class="container admin-index-container">
  <div class="row">
    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h3 class="text-center"><%=t('admin.admin_page')%></h3>
    </div>
  </div>
</div>

<div class="container admin-users-container">
  <div class="row">
    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
      <h3 class="text-center"><%=t('admin.users')%></h3>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <%= link_to admin_administrators_path do %>
        <%= t('admin.edit_administrators') %>
      <% end %>
    </div>
    <div class="col col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <%= link_to admin_teachers_path do %>
        <%= t('admin.edit_teachers') %>
      <% end %>
    </div>
    <div class="col col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <%= link_to admin_students_path do %>
        <%= t('admin.edit_students') %>
      <% end %>
    </div>
    <div class="col col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <%= link_to admin_parents_path do %>
        <%= t('admin.edit_parents') %>
      <% end %>
    </div>
  </div>
</div>

<div class="container admin-courses-container">

  <div class="row">
    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h3 class="text-center"><%=t('admin.courses_classes_workshops')%></h3>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <%= link_to admin_workshops_path do %>
        <%= t('admin.edit_workshops') %>
      <% end %>
    </div>
    <div class="col col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <%= link_to admin_grades_path do %>
        <%= t('admin.edit_grades') %>
      <% end %>
    </div>
    <div class="col col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <%= link_to admin_courses_path do %>
        <%= t('admin.edit_courses') %>
      <% end %>
    </div>
    <div class="col col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <%= link_to admin_posts_path do %>
        <%= t('admin.edit_posts') %>
      <% end %>
    </div>
  </div>

</div>

<div class="container admin-news-container">
  <div class="row">
    <div class="col col-lg-12 col-md-12 col-sm-12">
      <h3 class="text-center"><%=t('admin.news')%></h3>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-12 col-md-12 col-sm-12">
      <%= link_to admin_news_topics_path do %>
        <%= t('admin.edit_news') %>
      <% end %>
    </div>
  </div>
</div>

<div class="container admin-pages-container">
  <div class="row">
    <div class="col col-lg-12 col-md-12 col-sm-12">
      <h3 class="text-center"><%=t('admin.school_info_pages')%></h3>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-4 col-md-4 col-sm-6">
      <%= link_to admin_index_posts_path do %>
        <%= t('admin.edit_index_posts') %>
      <% end %>
    </div>
    <div class="col col-lg-4 col-md-4 col-sm-6">
      <%= link_to admin_general_info_path do %>
        <%= t('admin.edit_general_school_info') %>
      <% end %>
    </div>
    <div class="col col-lg-4 col-md-4 col-sm-6">
      <%= link_to admin_sponsored_posts_path do %>
        <%= t('admin.edit_sponsored_posts') %>
      <% end %>
    </div>
  </div>
</div>
