<div class="container admin-table-container">
    <div class="row">
        <h3 class="mx-auto"><%= t('admin.edit_news')%></h3>
    </div>
    <div class="row text-center">
        <div class="col">
            <%= button_to "#{t('admin.control.new')}", {controller: "topics", action: "new"}, class: "btn btn-success", method: :get %>
        </div>
    </div>
    <div class="row">
        <table class="table w-100">
            <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th><%=t('admin.control.title')%></th>
                <th><%=t('admin.control.author')%></th>
                <th></th>
                <th></th> 
                <th><%=t('admin.control.description')%></th>
                <th><%=t('admin.control.pictures')%></th>
                <th><%=t('admin.control.created_at')%></th>
                <th><%=t('admin.control.updated_at')%></th>
                <th><%=t('admin.control.edit')%></th>
                <th><%=t('admin.control.delete')%></th>
            </tr>
            </thead>
            <% @topics.each_with_index do |topic, index|%>
            <tbody>
            <tr>
                <td scope="row"><%= (index + 1).to_s %></td>
                <td><%= topic.name %></td>
                <td><%= User.find(topic.user_id).full_name %></td>
                <td></td>
                <td></td>
                <td><%= raw topic.description.truncate(30) %></td>
                <td><%= topic.topic_images.count %></td>
                <td><%= time_tag(topic.created_at) %></td>
                <td><%= time_tag(topic.updated_at) %></td>
                <td><%= button_to "#{t('admin.control.edit')}", {controller: "topics", action: "edit", id: topic.id}, method: :get, class: "btn btn-warning" %></td>
                <td><%= button_to "#{t('admin.control.delete')}", {controller: "topics", action: "destroy", id: topic.id}, method: :delete, class: "btn btn-danger", data: {confirm: "ARE YOU SURE?"} %></td>
            </tr>
            </tbody>
            <% end %>
        </table>
    </div>
     <div class="row">
        <div class="col back-btn-col">
            <div class="admin-pag-links">
                <%= will_paginate @topics %>
            </div>
            <div class="admin-back-link">
                <%= link_to "#{t('admin.control.main_admin')}", admin_path %>
            </div>
        </div>
    </div>
</div>