<div class="container">
    <div class="row">
    <h3 class="mx-auto">Students</h3>
    <table class="table w-100">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Confirmed</th>
            <th>Last Sign In</th>
            <th>Sign In Count</th>
            <th>Confirm User</th>
            <th>Delete User</th>
        </tr>
        </thead>
        <% @students.each_with_index do |user, index|%>
        <tbody>
        <tr>
            <td scope="row"><%= (index + 1).to_s %></td>
            <td><%= user.name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
            <td><%= user.confirmed_at %></td>
            <td><%= user.last_sign_in_at %></td>
            <td><%= user.sign_in_count %></td>
            <td><%= button_to "CONFIRM", {controller: "admin", action: "confirm_user", user_id: user.id}, method: :post, class: "btn btn-warning" %></td>
            <td><%= button_to "DELETE", {controller: "registrations", action: "destroy", user_id: user.id}, method: :delete, class: "btn btn-danger", data: {confirm: "ARE YOU SURE?"} %></td>
        </tr>
        </tbody>
        <% end %>
    </table>
    </div>
</div>