<div class="container admin-table-container">
    <div class="row">
        <h3 class="mx-auto"><%=t('admin.edit_teachers')%></h3>
    </div>
    <div class="row text-center">
        <div class="col">
            <%= button_to "#{t('admin.control.new')}", {controller: "teachers", action: "new"}, class: "btn btn-success", method: :get %>
        </div>
    </div>
    <table class="table w-100">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th><%=t('admin.control.name')%></th>
            <th><%=t('admin.control.last_name')%></th>
            <th><%=t('admin.control.email')%></th>
            <th>Role</th>
            <th><%=t('admin.control.confirmed')%></th>
            <th><%=t('admin.control.last_sign_in')%></th>
            <th><%=t('admin.control.sign_in_count')%></th>
            <th><%=t('admin.control.confirm_user')%></th>
            <th><%=t('admin.control.delete_user')%></th>
        </tr>
        </thead>
        <% @teachers.each_with_index do |user, index|%>
        <tbody>
        <tr>
            <td scope="row"><%= (index + 1).to_s %></td>
            <td><%= user.name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
            <td><%= user.confirmed_at %></td>
            <td><%= user.last_sign_in_at %></td>
            <td><%= user.sign_in_count %></td>
            <% if user.approved %>
                <td><%=t('admin.control.user_confirmed')%></td>
            <% else %>
                <td><%= button_to "#{t('admin.control.confirm')}", {controller: "admin", action: "confirm_user", user_id: user.id}, method: :post, class: "btn btn-warning", data: {confirm: "#{t('admin.control.confirm')}"} %></td>
            <% end %>            
            <td><%= button_to "#{t('admin..control.delete')}", {controller: "registrations", action: "destroy", user_id: user.id}, method: :delete, class: "btn btn-danger", data: {confirm: "ARE YOU SURE?"} %></td>
        </tr>
        </tbody>
        <% end %>
    </table>
    <div class="row">
        <div class="col back-btn-col">
            <div class="admin-pag-links">
                <%= will_paginate @teachers %>
            </div>
            <div class="admin-back-link">
                <%= link_to "#{t('admin.control.main_admin')}", admin_path %>
            </div>
        </div>
    </div>
</div>
    