<div class="container admin-table-container">
    <div class="row">
        <div class="text-center mx-auto">
            <h3><%=t('admin.edit_workshops')%></h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <%= button_to "#{t('admin.control.new')}", {controller: "workshops", action: "new"}, class: "btn btn-success", method: :get %>
        </div>
    </div>
    <div class="row">
    <table class="table w-100">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th><%=t('admin.control.title')%></th>
            <th><%=t('admin.control.description')%></th>
            <th><%=t('admin.control.price')%></th>
            <th><%=t('admin.control.instructor')%></th>
            <th><%=t('admin.control.created_at')%></th>
            <th><%=t('admin.control.updated_at')%></th>
            <th></th>
            <th><%=t('admin.control.edit')%></th>
            <th><%=t('admin.control.delete')%></th>
        </tr>
        </thead>
        <% @workshops.each_with_index do |workshop, index|%>
        <tbody>
        <tr>
            <td scope="row"><%= (index + 1).to_s %></td>
            <td><%= workshop.name %></td>
            <td><%= raw workshop.description.truncate(30)%></td>
            <td><%= workshop.price %></td>
            <td><%= workshop.instructor %></td>
            <td><%= time_tag(workshop.created_at)%></td>
            <td><%= time_tag(workshop.updated_at) %></td>
            <td></td>
            <td><%= button_to "#{t('admin.control.edit')}", {controller: "workshops", action: "edit", id: workshop.id}, method: :get, class: "btn btn-warning" %></td>
            <td><%= button_to "#{t('admin.control.delete')}", {controller: "workshops", action: "destroy", id: workshop.id}, method: :delete, class: "btn btn-danger", data: {confirm: "ARE YOU SURE?"} %></td>
        </tr>
        </tbody>
        <% end %>
    </table>
    </div>
    <div class="row">
        <div class="col back-btn-col">
            <div class="admin-pag-links">
                <%= will_paginate @workshops %>
            </div>
            <div class="admin-back-link">
                <%= link_to "#{t('admin.control.main_admin')}", admin_path %>
            </div>
        </div>
    </div>
</div>