<div class="container-fluid main-container">
<div id="frontCarousel" class="carousel slide  carousel-fade" data-ride="carousel" data-interval="0">
  
  <ul class="carousel-indicators">
    <li data-target="#frontCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#frontCarousel" data-slide-to="1"></li>
    <li data-target="#frontCarousel" data-slide-to="2"></li>
    <li data-target="#frontCarousel" data-slide-to="3"></li>

  </ul>

  <div class="carousel-inner">
    <div class="carousel-item active">
        <img class="d-block w-100 title-image" src="/assets/frontpage/1.jedyna.jpg" alt="First slide">
        <div class="carousel-caption-1">
          <p class="car-heading-top"><%=t('welcome.ukrainian_school')%></p>
          <h3 class="car-heading-middle"><%=t('welcome.welcomes')%></h3>
          <p class="car-heading-bottom"><%=t('welcome.you')%></p>
        </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 title-image" src="/assets/frontpage/2.jakisna.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 title-image" src="/assets/frontpage/3.cikavi-uroky-1.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 title-image" src="/assets/frontpage/nastya.jpg" alt="Fourth slide">
    </div>
  </div>

  <a class="carousel-control-prev" href="#frontCarousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#frontCarousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

<div class="row announcements-header">
  <div class="col col-md-4 offset-md-4">
    <h3 class="text-center"><%=t('welcome.fresh_announcements')%></h3>
  </div>
</div>
<div class="row announcements-row">
  <% @recent_news.each do |topic_item| %>
  <div class="col-lg-4 col-md-6 col-sm-6 d-flex align-items-stretch">
    <div class="card">
      <div class="card-img-top">
        <%if topic_item.topic_images.length > 0 %>
          <% topic_image = topic_item.topic_images[0] %>
          <a href="/<%=locale%>/topics/<%=topic_item.id%>">
            <img class="card-img" src="<%=topic_image.image%>" alt="Card image cap">
          </a>
        <% else %>
          <a href="/<%=locale%>/topics/<%=topic_item.id%>">
            <img class="card-img" src="/assets/stock/new_topic.jpg" alt="Card image cap">
          </a>
        <% end %>
      </div>
      <div class="card-body">
        <div class="card-title">
          <a href="/<%=locale%>/topics/<%=topic_item.id %>"><%=topic_item.name%></a>
          <p class="card-text"><%=raw topic_item.description.truncate(50) %>
          <%= link_to "More...", topic_path(topic_item.id) %>
          </p>
          
        </div>
      </div>
      <div class="card-footer">
        <small class="card-time"><%=time_tag(topic_item.created_at)%></small>
        <small class="card-author">By: <%=User.find(topic_item.user_id).name%></small>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-4 friend-column" id="schedule">
  <div>
    <i class="fas fa-calendar cal"></i> 
    <p><%=t('welcome.schedule')%></p>
  </div>
  </div>
  <div class="col-md-4 friend-column" id="workshops">
    <div>
    <i class="fas fa-theater-masks workshop"></i>
    <p><%=t('welcome.workshops')%></p>
    </div>
  </div>
  <div class="col-md-4 friend-column" id="friends">
    <div>
      <i class="fas fa-user-friends friend-icon"></i>
      <p><%=t('welcome.our_friends')%></p>
    </div>
  </div>
</div>

<footer class="navbar nav-footer navbar-expand">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-facebook-square"></i><span class="sr-only">(current)</span></a></li>
    <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-twitter-square"></i><span class="sr-only">(current)</span></a></li>
    <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-instagram"></i><span class="sr-only">(current)</span></a></li>
  </ul>
</footer>
</div>
