<div class="container-fluid main-container">
<div id="frontCarousel" class="carousel slide  carousel-fade" data-ride="carousel" data-interval="0">
  
  <ul class="carousel-indicators">
    <li data-target="#frontCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#frontCarousel" data-slide-to="1"></li>
    <li data-target="#frontCarousel" data-slide-to="2"></li>
    <li data-target="#frontCarousel" data-slide-to="3"></li>

  </ul>

  <div class="carousel-inner">
    <div class="carousel-item active">
        <img class="d-block w-100 title-image" src="/assets/frontpage/1.jedyna.jpg" alt="First slide">
        <div class="carousel-title">
          <div class="carousel-caption-1">
            <p class="car-heading-top"><%=t('welcome.ukrainian_school')%></p>
            <p class="car-heading-middle"><%=t('welcome.welcomes')%></p>
            <p class="car-heading-bottom"><%=t('welcome.you')%></p>
          </div>
        </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 title-image" src="/assets/frontpage/2.jakisna.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 title-image" src="/assets/frontpage/3.cikavi-uroky-1.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 title-image" src="/assets/frontpage/nastya.jpg" alt="Fourth slide">
    </div>
  </div>

  <a class="carousel-control-prev" href="#frontCarousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#frontCarousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

<div class="row announcements-header">
  <div class="col col-md-4 offset-md-4">
    <h3 class="text-center"><%=t('welcome.fresh_announcements')%></h3>
  </div>
</div>
<div class="row announcements-row" id="welcome-news">
  <%= render 'welcome/welcome_news' %>
</div>

<div class="row">
  <div class="col-md-4 friend-column class_schedule" id="index_posts/class_schedule">
  <div>
    <i class="fas fa-calendar cal"></i> 
    <p><%=t('welcome.schedule')%></p>
  </div>
  </div>
  <div class="col-md-4 friend-column" id="workshops">
    <div>
    <i class="fas fa-theater-masks workshop"></i>
    <p><%=t('welcome.workshops')%></p>
    </div>
  </div>
  <div class="col-md-4 friend-column" id="friends">
    <div>
      <i class="fas fa-user-friends friend-icon"></i>
      <p><%=t('welcome.our_friends')%></p>
    </div>
  </div>
</div>

<footer class="navbar nav-footer navbar-expand">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-facebook-square"></i><span class="sr-only">(current)</span></a></li>
    <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-twitter-square"></i><span class="sr-only">(current)</span></a></li>
    <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-instagram"></i><span class="sr-only">(current)</span></a></li>
  </ul>
</footer>
</div>
