

<div id="index-teachers-intro">
  <div class="teachers-bg-image bg-parallax overlay"></div>
    <div id="index-teachers-title">
      <h3><%=@teacher_intro.title%></h3>
    </div>
</div>

<div class="container teacher-index-container">
    <div class="row">
        <div class="col directors-message-profile">
            <div class="strikethrough"></div>
            <div class="directors-message-heading">
                <h3><%=t('teachers.directors_message')%></h3>
            </div>
            <div class="directors-img">
                <% if @teacher_intro.index_post_images.length > 0 %>
                    <% image_url = @teacher_intro.index_post_images[0].image %>
                    <img src="<%=image_url%>" class="img" alt="directors picture">
                <% else %>
                    <img src="/assets/stock/stock_man.jpg" class="img" alt="directors picture">
                <% end %>
            </div>  
            <div class="directors-email">
                <%= mail_to "director@ukrschule.org" do %>
                    <i class="far fa-envelope"></i> <span>director@ukrschule.com</span>
                <% end %>
            </div>  
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="directors-message">
                <%= raw(@teacher_intro.description) %>
            </div>
        </div>
    </div>
    <div class="row teacher-index-center-row">
        <div class="col">
            <div class="strikethrough"></div>
            <div class="teacher-logo">
                <i class="fas fa-user-graduate"></i>
            </div>
            <h4 class="text-center"><%=t("teachers.our_teachers")%></h4>
        </div>
    </div>

    <div class="row teacher-index-row" id="all-teachers-render">
        <%= render "teachers/teachers" %>
    </div>

   
</div>


<div class="container teachers-index-back">
    <div class="strikethrough"></div>
    <div class="row">
        <div class="gen-back-btn">
            <%= link_to "/#{locale}/index", class: 'gen-back'  do %>
                <%=t('teachers.home')%>...
            <% end %>
        </div>
    </div>
</div>
 <footer class="navbar nav-footer navbar-expand">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-facebook-square"></i><span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-twitter-square"></i><span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-instagram"></i><span class="sr-only">(current)</span></a></li>
    </ul>
</footer>
