<div class="container">
    <div class="col-md-10">
    <h3>Teacher Registration</h3>
    <%= form_for(@teacher, url: teachers_path) do |f| %>
    <% if @teacher.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@teacher.errors.count, "error") %> Not Saved: </h2>

        <ul>
        <% @teacher.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
        </div>
    <% end %>

    <%= form_group_tag(@teacher.errors[:name]) do %>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', placeholder: "...name" %>
    <% end %>

    <%= form_group_tag(@teacher.errors[:last_name]) do %>
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control', placeholder: "...last name" %>
    <% end %>


    <%= form_group_tag(@teacher.errors[:email]) do %>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
    <% end %>

    <%= form_group_tag(@teacher.errors[:password]) do %>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
    <% end %>

    <%= form_group_tag(@teacher.errors[:password_confirmation]) do %>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
    <% end %>

    <%= form_group_tag(@teacher.errors[:grade]) do %>
        <%= f.label :grade %>
        <%= f.text_field :grade, class: 'form-control' %>
    <% end %>

    <%= form_group_tag(@teacher.errors[:description]) do %>
        <%= f.label :description %>
        <%= f.cktext_area :description, rows: 20, class: 'form-control', placeholder: "description of a new class" %>
    <% end %>

    <div class="field">
        <%= f.label :avatar %><br>
        <%= f.file_field :image, name: "user_avatar" %>
    </div>

    <div class="form-group">
        <%= f.submit "Save", class: 'btn btn-success' %>
    </div>

    <% end %>
    </div>
</div>
