<div class="container teacher-container">
  <div class="row">
    <div class="col-md-6 img">
      <div class="teacher-img">
        <% if @teacher.user_image != nil %>
          <img src="<%=@teacher.user_image.image%>"  alt="" class="img-rounded">
        <% else %>
          <img src="/assets/stock/stock_man.jpg"  alt="" class="img-rounded">
        <% end %>
      </div>
    </div>
    <div class="col-md-6 details">
      <blockquote>
        <h5><%= @teacher.name + " " + @teacher.last_name %></h5>
        <small><cite title="Source Title">Vienna, Austria<i class="icon-map-marker"></i></cite></small>
      </blockquote>
      <p>
        <i class="fas fa-envelope-square"></i> <%= @teacher.email %><br>
        www.ukrschule.com <br>
      </p>
    </div>
  </div>
  <div class="row">
     <div class="col-md-10 offset-md-1">
        <div class="teacher-description">
          <%= raw(@teacher.description) %>
        </div>
     </div>
  </div>
<% if @teachers_courses.length > 0 %>
  <div class="row show-teacher-course">
    <div class="mx-auto teacher-courses-header">
      <h3><%=t('teachers.courses')%></h3>
    </div>
  </div>
  <div class="row" id="teacher-class-row">
   
    <%= render 'teachers/teacher_courses' %>
    
<% end %>  
</div>
</div>
<footer class="navbar nav-footer navbar-expand">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-facebook-square"></i><span class="sr-only">(current)</span></a></li>
    <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-twitter-square"></i><span class="sr-only">(current)</span></a></li>
    <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-instagram"></i><span class="sr-only">(current)</span></a></li>
  </ul>
</footer>