<%= form_for(@course, html: {multipart: true}) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_group_tag(course.errors[:name]) do %>
    <%= f.label t('forms.title') %>
    <%= f.text_field :name, class: 'form-control', placeholder: "Name of a new class" %>
  <% end %>

  <%= form_group_tag(course.errors[:description]) do %>
    <%= f.label t('forms.description') %>
    <%= f.cktext_area :description, rows: 20, class: 'form-control', placeholder: "description of a new class" %>
  <% end %>

  <%= form_group_tag(course.errors[:name]) do %>
    <%= f.label t('forms.room') %>
    <%= f.text_field :room, class: 'form-control', placeholder: "" %>
  <% end %>

  <%= form_group_tag(course.errors[:name]) do %>
    <%= f.label t('forms.time') %>
    <%= f.text_field :time, class: 'form-control', placeholder: "..time" %>
  <% end %>
  
  <div class="form-group">
    <%= f.label t('forms.teacher'), class: 'w-100' %>
    <%= collection_select(:course_instructor, :user_id, @teachers, :id, :full_name, prompt: true, class: 'dropdown', selected: course.user_id) %>
  </div>

  <div class="form-group">
    <%= f.label t('forms.grade'), class: 'w-100' %>
    <%= collection_select(:grade, :grade_id, @grades, :id, :id, prompt: true, class: 'dropdown', selected: course.grade_id) %>
  </div>


  <% if @course.course_images.length > 0 %>
  <%   @course.course_images.each do |img_row| %>
      <%= link_to "#{t('forms.delete')}", course_image_path(img_row.id), method: :delete %>
      <div class="img-preview-control">
        <img src="<%=img_row.image%>" alt="course image"/>
      </div>
  <%   end %>
  <% end %>

  <div class="form-group">
    <%= f.submit "#{t('forms.save_course')}", class: 'btn btn-success' %>
  </div>

<% end %>
