<%= form_for(@course, html: {multipart: true}) do |f| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form_group_tag(course.errors[:name]) do %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', placeholder: "Name of a new class" %>
    <% end %>
    <%= form_group_tag(course.errors[:description]) do %>
      <%= f.label :description %>
      <%= f.cktext_area :description, rows: 20, class: 'form-control', placeholder: "description of a new class" %>
    <% end %>

    <%= f.fields_for :course_attachments do |p| %>
     <div class="field">
       <%= p.label :image %><br>
       <%= p.file_field :image, :multiple => true, name: "course_attachments[image][]" %>
     </div>
    <% end %>

    <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-success' %>
    </div>

<% end %>
