<%= form_for(@course, html: {multipart: true}) do |f| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_group_tag(course.errors[:name]) do %>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: "Name of a new class" %>
  <% end %>
  <%= form_group_tag(course.errors[:description]) do %>
    <%= f.label :description %>
    <%= f.cktext_area :description, rows: 20, class: 'form-control', placeholder: "description of a new class" %>
  <% end %>

  <% if @course_images && !@course_images.empty? %>
  <%   @course_images.each_with_index do |image, index| %>
         <div class="img-preview-control">
           <%= image_tag(image.url)  %>
           <%= link_to 'Delete', course_course_image_path(@course, index), method: :delete %>
         </div>
       <% end %>
  <% end %>
  
  <div class="form-group">
    <%= f.label :images %><br>
    <%= f.file_field :images, multiple: true %>
  </div>

  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-success' %>
  </div>

<% end %>
