<div class="container general-edit-container">
    <h1 class="text-center"><%= t('forms.editing')%> "<%=@course.name%>"</h1>
    <div class="row">
        <%= render 'form', course: @course %>
    </div>

    <% if @course.id != nil %>
    <div class="row">
      <h5><%=t('forms.image_uploader')%></h3>
    </div>
    <div class="row">
      <%= render 'image_form', image: @image %>
    </div>
  <% end %>

  <div class="row">
    <div class="form-back-btn">
      <%= link_to "#{t('forms.back')}", admin_courses_path %>
    </div>
  </div>

    <div class="strikethrough">
    </div>
  </div>
</div>
