
  <div id="course-index-intro">
      <div class="bg-image bg-parallax overlay"></div>
      <div id="course-index-title">
        <h3 class="text-center"><%=t('courses.all_courses')%></h3>
      </div>
  </div>
  <div id="courses" class="section">

    <!-- container -->
    <div class="container">

      <!-- row -->
      <% if @grade %>
        <div class="row welcome-row">
          <div class="section-header">
            <h2 class="text-center"><%=@grade[0].level.ordinalize%>   <%=t('courses.grade')%></h2>
            <p class="lead"><%=t('courses.all_grade_classes')%></p>
          </div>
          <div id="class-strike-through">
          </div>
        </div>
      <% else %>
        <div class="row welcome-row">
          <div class="section-header">
            <h2 class="text-center"><%=t('courses.welcome')%></h2>
            <p class="lead"><%=t('courses.course_instructions')%></p>
          </div>
          <div id="class-strike-through">
          </div>
        </div>
      <% end %>
      <!-- /row -->

      <div class="row grade-select-row">
        <div class="grade-select">
          <form action="/<%=locale%>/courses" method="get">
              <label for="grade"><%=t('courses.select_grade_level')%></label>
              <div class="styled-select blue semi-square">
                <select class="form-selector" id="sel1" name="grade" onchange="this.form.submit()">
                  <option value="">--------</option>
                  <option value=1><%=t('courses.first_grade')%></option>
                  <option value=2><%=t('courses.second_grade')%></option>
                  <option value=3><%=t('courses.third_grade')%></option>
                  <option value=4><%=t('courses.fourth_grade')%></option>
                  <option value=5><%=t('courses.fifth_grade')%></option>
                  <option value=6><%=t('courses.sixth_grade')%></option>
                  <option value=7><%=t('courses.seventh_grade')%></option>
                  <option value=8><%=t('courses.eighth_grade')%></option>
                  <option value=9><%=t('courses.ninth_grade')%></option>
                  <option value=10><%=t('courses.tenth_grade')%></option>
                  <option value=11><%=t('courses.eleventh_grade')%></option>
                </select>
              </div>
          </form>
        </div>
      </div>


      <!-- courses -->
      <div id="courses-wrapper">

        <!-- row -->
        <div class="row">
          <% @courses.each do |course|  %>
          <!-- single course -->
          <% course_teacher = User.find(course.user_id) %>
          <% course_image = course.course_images[0] %>
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="course">
              <a href="/<%=locale%>/workshops/<%=course.id%>" class="course-img">
                <% if course_image == nil %>
                  <img src="/assets/stock/workshop_stock_photo.jpg" alt="course image">
                <% else %>
                  <img src="<%=course_image.image%>" alt="course image">
                <% end %>
                <i class="course-link-icon fa fa-link"></i>
              </a>
              <a class="course-title text-center" href="/<%=locale%>/courses/<%=course.id%>"><%= course.name %></a>
              <p class="course-grade"><%=t('courses.grade')%>: <span><%=course.grade.level.ordinalize%></span></p>
              <p class="course-room"><%=t('courses.room')%>: <span><%=course.room%></span></p>
              <div class="course-details">
                <span class="course-category"><a href="/<%=locale%>/teachers/<%=course_teacher.id%>"><i class="fas fa-user-graduate"></i> <%= course_teacher.full_name %></a></span>
                <span class="course-price course-free"><span class="course-time"><i class="far fa-clock"></i>: </span><%= course.time %></span>
              </div>
            </div>
          </div>
          <!-- /single course -->
          <% end %>
        </div>
      </div>
      <!-- /courses -->

      <div class="row">
        <div class="center-btn mx-auto">
          <a class="main-button icon-button" href="/<%=locale%>/index"><%=t('courses.home')%></a>
        </div>
      </div>

    </div>
    <!-- container -->

  </div>

  <footer class="navbar nav-footer navbar-expand">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-facebook-square"></i><span class="sr-only">(current)</span></a></li>
    <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-twitter-square"></i><span class="sr-only">(current)</span></a></li>
    <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-instagram"></i><span class="sr-only">(current)</span></a></li>
  </ul>
</footer>
<!-- /Courses -->

