
  <div id="course-index-intro">
      <div class="bg-image bg-parallax overlay"></div>
      <div id="course-index-title">
        <h3><%=t('courses.all_courses')%></h3>
      </div>
  </div>
  <div id="courses" class="section">

    <!-- container -->
    <div class="container">

      <!-- row -->
      <div class="row">
        <div class="section-header mx-auto">
          <h2 class="text-center"><%=t('courses.welcome')%></h2>
          <p class="lead"><%=t('courses.course_instructions')%></p>
        </div>
      </div>
      <!-- /row -->

      <div class="row grade-select-row">
        <div class="grade-select">
          <form action="/<%=locale%>/courses" method="get">
              <label for="grade"><%=t('courses.select_grade_level')%></label>
              <div class="styled-select blue semi-square">
                <select class="form-selector" id="sel1" name="grade">
                  <option value=1><%=t('courses.first_grade')%></option>
                  <option value=2><%=t('courses.second_grade')%></option>
                  <option value=3><%=t('courses.third_grade')%></option>
                  <option value=4><%=t('courses.fourth_grade')%></option>
                  <option value=5><%=t('courses.fifth_grade')%></option>
                  <option value=6><%=t('courses.sixth_grade')%></option>
                  <option value=7><%=t('courses.seventh_grade')%></option>
                  <option value=8><%=t('courses.eighth_grade')%></option>
                  <option value=9><%=t('courses.ninth_grade')%></option>
                  <option value=10><%=t('courses.tenth_grade')%></option>
                  <option value=11><%=t('courses.eleventh_grade')%></option>
                </select>
              </div>
              <button type="submit"><%=t('courses.select')%></button>
          </form>
        </div>
      </div>


      <!-- courses -->
      <div id="courses-wrapper">

        <!-- row -->
        <div class="row">
          <% 6.times do  %>
          <!-- single course -->
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="course">
              <a href="#" class="course-img">
                <img src="/assets/stock/workshop_stock_photo.jpg" alt="course image">
                <i class="course-link-icon fa fa-link"></i>
              </a>
              <a class="course-title" href="courses">Beginner to Pro in Excel: Financial Modeling and Valuation</a>
              <div class="course-details">
                <span class="course-category">Business</span>
                <span class="course-price course-free">Free</span>
              </div>
            </div>
          </div>
          <!-- /single course -->
          <% end %>
        </div>
      </div>
      <!-- /courses -->

      <div class="row">
        <div class="center-btn mx-auto">
          <a class="main-button icon-button" href="#">Home</a>
        </div>
      </div>

    </div>
    <!-- container -->

  </div>

  <footer class="navbar nav-footer navbar-expand">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-facebook-square"></i><span class="sr-only">(current)</span></a></li>
    <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-twitter-square"></i><span class="sr-only">(current)</span></a></li>
    <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-instagram"></i><span class="sr-only">(current)</span></a></li>
  </ul>
</footer>
<!-- /Courses -->

