<div class="container-fluid course-description-container">
    <div class="row">
        <div class="col-md-8">
            <div class="row class-header">
                <h3><%= @course.name %></h3>
            </div>
            <div class="row course-description">
                <h5><%= raw(@course.description)%></h5>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row course-instructor">
                <h3>Teacher: Mike</h3>
                <% puts @course_teacher.avatar %>
                <img src="<%= @course_teacher.avatar %>" alt="teacher image" class="img-thumbnail">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid gal-container">
    <div class="row">
        <% @course.course_images.each_with_index do |data, index| %>
            <% data_id = "pic" + (index+1).to_s %>
            <% data_target = "#" + data_id %>
            <% if (index == 0) %> 
                <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
                    <div class="box">
                        <a href="#" data-toggle="modal" data-target="<%=data_target%>">
                            <img src="<%= data.image %>">
                        </a>
                        <div class="modal fade" id="<%= data_id %>" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <div class="modal-body">
                                        <img src="<%= data.image %>">
                                    </div>
                                    <div class="col-md-12 description">
                                        <h4>This is the first one on my Gallery</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>             
            <% else %>  
                <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                    <div class="box">
                        <a href="#" data-toggle="modal" data-target="<%=data_target%>">
                            <img src="<%= data.image %>">
                        </a>
                        <div class="modal fade" id="<%= data_id%>" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <div class="modal-body">
                                        <img src="<%= data.image %>">
                                    </div>
                                    <div class="col-md-12 description">
                                        <h4>This is the second one on my Gallery</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>  
    </div>
</div>


<p id="notice"><%= notice %></p>
<div class="container-fluid course-bottom-container">
    <div class="course-back-link">
      <%= link_to 'Back', courses_path %>
    </div>  
</div>
