<div class="container-fluid course-description-container">
    <div class="row">
        <div class="col-md-8">
            <div class="row class-header">
                <h3><%= @course.name %></h3>
            </div>
            <div class="row course-description">
                <h5><%= raw(@course.description)%></h5>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row course-instructor">
                <h3>Teacher: Mike</h3>
                <% puts @course_teacher.avatar %>
                <img src="<%= @course_teacher.avatar %>" alt="teacher image" class="img-thumbnail">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid course-gallery-container">
    <div class="row">
    <% @course_images.each do |img| %>
        <div class="col-md-4">
         <img src="<%= img.image %>" alt="image" class="course-image img-fluid img-thumbnail">
        </div>
    <% end %>
    </div>
</div>



<p id="notice"><%= notice %></p>
<div class="container-fluid course-bottom-container">
    <div class="course-back-link">
      <%= link_to 'Back', courses_path %>
    </div>
    
</div>
