<%= form_for @gallery do |f| %>
  <% if @gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @gallery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_group_tag(@gallery.errors[:name]) do %>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: "Name of a new gallery" %>
  <% end %>
  <%= form_group_tag(@gallery.errors[:description]) do %>
    <%= f.label :description %>
    <%= f.cktext_area :description, rows: 10, class: 'form-control', placeholder: "description of a new gallery" %>
  <% end %>

<% if @gallery.gallery_images.length > 0 %>
<%   @gallery.gallery_images.each do |img_row| %>
     <%= link_to "Delete", gallery_image_path(img_row.id), method: :delete %>
     <div class="img-preview-control">
       <img src="<%=img_row.image%>" alt="course image"/>
     </div>
<%   end %>
<% end %>

  <div class="form-group">
    <%= f.submit "Save Gallery", class: 'btn btn-success save-gallery-btn' %>
  </div>

<% end %>