<div id="galleries-index-intro">
    <div class="galleries-bg-image bg-parallax overlay"></div>
    <div id="gal-index-title">
      <h3><%=@gallery.title%></h3>
    </div>
  </div>
</div>
<div class="container gal-description-container">
    <h5 class="text-center gal-time"><i class="far fa-clock"></i> <%=time_tag(@gallery.created_at)%> <i class="far fa-clock"></i></h5>
    <div class="row gal-description-row">
        <div class="col gal-description-col">
            <%=raw(@gallery.description)%>
        </div>
    </div>
</div>
<section class="gallery-block compact-gallery">
    <div class="container">
        <div class="row no-gutters">
            <% @gallery.gallery_images.each_with_index do |data, index| %>
            <% data_id = "pic" + (index+1).to_s %>
            <% data_target = "#" + data_id %>
                <% if index == 0 || index == 1 %>
                <div class="col-md-6 col-lg-6 item zoom-on-hover main-gal-item">
                    <a class="gallery-link" href="#" data-toggle="modal" data-target="<%=data_target%>">
                        <img class="img-fluid image img-thumbnail main-gal-img" src="<%=data.image%>">
                        <span class="description">
                            <span class="description-heading">Lorem Ipsum</span>
                            <span class="description-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                        </span>
                    </a>
                    <div class="gal-main-modal" id="<%= data_id %>" tabindex="-1" role="dialog">
                    ` <span class="gal-modal-close">&times;</span>
                        <img class="gal-modal-content"src="<%= data.image %>">
                        <div class="gal-modal-caption">Lorem ipsum dolor sit ame</div>
                    </div>
                </div>
                <% else %>
                <div class="col-md-6 col-lg-4 item zoom-on-hover main-gal-item">
                    <a class="gallery-link" href="#" data-toggle="modal" data-target="<%=data_target%>">
                        <img class="img-fluid image img-thumbnail main-gal-img" src="<%=data.image%>">
                        <span class="description">
                            <span class="description-heading">Lorem Ipsum</span>
                            <span class="description-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                        </span>
                    </a>
                    <div class="gal-main-modal" id="<%= data_id %>" tabindex="-1" role="dialog">
                    ` <span class="gal-modal-close">&times;</span>
                        <img class="gal-modal-content"src="<%= data.image %>">
                        <div class="gal-modal-caption">Lorem ipsum dolor sit ame....</div>
                    </div>
                </div>
                <% end %>
            <% end %>
        </div>
         <div class="gen-back-btn">
            <%= link_to :back,  class: 'gen-back'  do %>
            <%=t('galleries.back')%>...
         <% end %>
        </div>
    </div>
</section>

<footer class="navbar nav-footer navbar-expand">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-facebook-square"></i><span class="sr-only">(current)</span></a></li>
    <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-twitter-square"></i><span class="sr-only">(current)</span></a></li>
    <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-instagram"></i><span class="sr-only">(current)</span></a></li>
  </ul>
</footer>