<div id="blogs-index-intro">
    <div class="bg-image bg-parallax overlay"></div>
    <div id="blogs-index-title">
    <h3><%=t('news.our_news')%></h3>
</div>
</div>
<div id="all-blogs" class="section">
<div id="blog" class="section">

    <div class="container">
        <div class="row">
            <!-- main blog -->
            <div id="main" class="col-md-9">
                <!-- row -->
                <div class="row">
                    <!-- single blog -->
                    <% if @topics.length > 0 %>
                        <%@topics.each do |topic| %>
                            <div class="col-md-10">
                                <div class="single-blog">
                                    <div class="blog-img">
                                        <a href="/<%=locale%>/topics/<%=topic.id %>">
                                            <% if topic.topic_images.length > 0 %>
                                                <img src="<%= topic.topic_images[0].image %>" alt="topic image">
                                            <% else %>
                                                <img src="/assets/stock/new_topic.jpg"  alt="topic image">
                                            <% end %>
                                        </a>
                                    </div>
                                    <div class="blog-info">
                                        <h5><%=topic.name%></h5>
                                        <h3><a href="/<%=locale%>/topics/<%=topic.id %>"><%=raw topic.description.truncate(100)%></a></h3>
                                        <div class="blog-meta pull-right">
                                            <span class="blog-meta-author"><%=t('news.author')%>: <a href="#"><%= User.find_by_id(topic.user_id).name %></a></span>
                                            <div class="pull-right">
                                                <span><%=time_tag(topic.created_at)%></span>
                                                <span class="blog-meta-comments"><a href="#"><i class="fa fa-comments"></i> 35</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                </div>
                <!-- /row -->        
            </div>
            <!-- /main blog view -->

            <!-- aside blog view -->
            <div id="aside" class="col-md-3">

                <!-- search widget -->
                <div class="widget search-widget">
                    <form>
                        <input class="input" type="text" name="search">
                        <button><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <!-- /search widget -->

                <!-- posts widget -->
                <div class="widget posts-widget">
                    <h3><%=t('news.recent_news')%></h3>

                    <!-- single posts -->
                    <%if @recent_topics %>
                        <% @recent_topics.each do |topic| %>
                        <div class="single-post">
                            <%if topic.topic_images.length > 0 %>
                                <a class="single-post-img" href="/<%=locale%>/topics/<%=topic.id %>">
                                    <img src="<%= topic.topic_images[0].image%>" alt="">
                                </a>
                            <% else %>
                                <a class="single-post-img" href="/topics/<%=topic.id %>">
                                    <img src="/assets/stock/new_topic.jpg" alt="">
                                </a>
                            
                            <% end %>
                            <a href="/<%=locale%>/topics/<%=topic.id %>"><%=raw topic.description.truncate(20)%></a>
                            <p><small><%=t('news.author')%>: <%= User.find_by_id(topic.user_id).name%></small></p>
                        </div>
                        <!-- /single posts -->
                        <% end %>
                    <% end %>

                </div>
                <!-- /posts widget -->

                <!-- tags widget -->
                <div class="widget tags-widget">
                    <h3><%=t('news.tags')%></h3>
                    <a class="tag" href="#">Web</a>
                    <a class="tag" href="#">Photography</a>
                    <a class="tag" href="#">Css</a>
                    <a class="tag" href="#">Responsive</a>
                    <a class="tag" href="#">Wordpress</a>
                    <a class="tag" href="#">Html</a>
                    <a class="tag" href="#">Website</a>
                    <a class="tag" href="#">Business</a>
                </div>
                <!-- /tags widget -->

            </div>
            <!-- /aside blog -->

        </div>
        <!-- row -->

        <!-- row -->
        <div class="row">

            <!-- pagination -->
            <div class="col-md-12">
                <div class="post-pagination">
                    <a href="#" class="pagination-back pull-left"><i class="fas fa-angle-double-left"></i>  <%=t('news.back')%></a>
                    <ul class="pages">
                        <li class="active">1</li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                    </ul>
                    <a href="#" class="pagination-next pull-right"><%=t('news.forward')%> <i class="fas fa-angle-double-right"></i></a>
                </div>
            </div>
            <!-- pagination -->

        </div>
        <!-- /row -->

    </div>
    <!-- container -->

</div>
<!-- /Blog -->