<!DOCTYPE html>
<html>
  <head>
    <title>Ukainian School Vienna</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <% unless controller_name == 'intro'%>
    <nav class="navbar navbar-first navbar-expand-lg">
      <button class="navbar-toggler mx-auto" id="first-toggler" type="button" data-toggle="collapse" data-target="#socialContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-align-justify"></i>
      </button>
      <div class="collapse navbar-collapse" id="socialContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-facebook-square"></i><span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-twitter-square"></i><span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-instagram"></i><span class="sr-only">(current)</span></a></li>
        </ul>
         
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to params.permit!().merge(locale: :en), class: 'en-lang' do %>
              EN <img src="/assets/stock/us_flag.jpeg" alt="HTML tutorial" style="width:30px;height:20px;border:0;">
            <% end %>
          <li>
          <li class="nav-item">
            <%= link_to params.permit!().merge(locale: :uk), class: 'ua-lang' do %>
              УКР <img src="/assets/stock/ua_flag.jpeg" alt="HTML tutorial" style="width:30px;height:20px;border:0;">
            <% end %>
          </li>
          <% if current_user %>
            <span><%= current_user.name %></span>
            <li class="nav-item">
              <%=link_to destroy_user_session_path, class: 'login-control', method: :delete  do %>
                <span><i class="fas fa-user"></i> <%=t('toolbar.sign_out')%></span>
            <% end %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to new_user_session_path, class: 'login-control' do %>
                <span><i class="fas fa-user"></i> <%=t('toolbar.log_in')%></span>
              <% end %>
            </li>
            |  
            <li class="nav-item">
              <%= link_to new_user_registration_path, class: 'login-control' do  %>
                <span><i class="fas fa-user-plus"></i> <%=t('toolbar.sign_up')%></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <nav class="navbar navbar-second navbar-expand-md" data-toggle="sticky-onscroll">
        

        <div class="collapse navbar-collapse dual-collapse2 order-1 order-md-0 navbarSupportedContent">
          <ul class="navbar-nav  ml-auto text-center">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%=t('toolbar.information')%>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown"> 
                <a class="dropdown-item" href="/<%=locale%>/index_posts/all_classes"><%=t('toolbar.school_info')%></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/<%=locale%>/index_posts/class_schedule"><%=t('toolbar.class_schedule')%></a>
                <a class="dropdown-item" href="/<%=locale%>/index_posts/workshop_schedule"><%=t('toolbar.workshop_schedule')%></a>
                <a class="dropdown-item" href="/<%=locale%>/index_posts/preschool"><%=t('toolbar.preschool')%></a>
                <a class="dropdown-item" href="/<%=locale%>/index_posts/baby_group"><%=t('toolbar.babygroup')%></a>

                <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/<%=locale%>/index_posts/cost"><%=t('toolbar.cost')%></a>
              </div>
            </li>
             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%=t('toolbar.all_classes')%>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/<%=locale%>/index_posts/about_courses"><%=t('toolbar.our_approach')%></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/<%=locale%>/courses"><%=t('toolbar.all_classes')%></a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%=t('toolbar.workshops')%>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/<%=locale%>/workshops"><%=t('toolbar.all_workshops')%></a>
                <div class="dropdown-divider"></div>
                <% if @all_workshops.length > 0 %>
                  <% @all_workshops.each do |workshop| %>
                    <a class="dropdown-item" href="/<%=locale%>/workshops/<%=workshop.id%>"><%=workshop.name%></a>
                  <% end %>
                <% end %>
              </div>
            </li>
        
          </ul>
        </div>

        <div class="mx-auto my-2 order-0 order-md-1 position-relative">
          <a class="mx-auto" id="school-logo" href="/<%=locale%>/index">
              <img src="//placehold.it/120/ccff00" class="rounded-circle">
          </a>
          <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target=".navbarSupportedContent" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-arrow-circle-down"></i>
          </button>
        </div>
        
        <div class="collapse navbar-collapse dual-collapse2 order-2 order-md-2 navbarSupportedContent">
          <ul class="navbar-nav mr-auto text-center">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%=t('toolbar.news')%>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/<%=locale%>/about/news"><%=t('toolbar.all_news')%></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/<%=locale%>/galleries"><%=t('toolbar.galleries')%></a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%=t('toolbar.teachers')%>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/<%=locale%>/teachers"><%=t('toolbar.our_teachers')%></a>
                <div class="dropdown-divider"></div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%=t('toolbar.about_us')%>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/<%=locale%>/school_infos/building"><%=t('toolbar.our_building')%></a>
                <a class="dropdown-item" href="/<%=locale%>/school_infos/history"><%=t('toolbar.our_history')%></a>
                <a class="dropdown-item" href="/<%=locale%>/school_infos/finance"><%=t('toolbar.our_finances')%></a>
                <a class="dropdown-item" href="/<%=locale%>/school_infos/organization"><%=t('toolbar.our_organization')%></a>
              </div>
            </li>
          </ul>
        </div>

        <% if current_user %>
          <div class="avatar-holder">
            <span><%=current_user.name%></span>
            <% if current_user.user_image %>
              <%= link_to edit_user_registration_path(locale: I18n.locale) do %>
                <img src="<%=current_user.user_image.image%>" alt="Avatar" class="avatar">
              <% end %>
            <% else %>
              <%= link_to edit_user_registration_path(locale: I18n.locale) do %>
                <img src="/assets/stock/stock_man.jpg" alt="Avatar" class="avatar">
              <% end %>
            <% end %>
          </div>
        <% end %>
    </nav>
    <% end %>
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash.now[:alert] %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash.now[:alert] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-waring">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
      
    <% end %>
   
    <%= yield %> 
  </body>
</html>
