<!DOCTYPE html>
<html>
  <head>
    <title>Ukainian School Vienna</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <% unless controller_name == 'intro'%>
    <nav class="navbar navbar-first navbar-expand-sm">
      <button class="navbar-toggler mx-auto" id="first-toggler" type="button" data-toggle="collapse" data-target="#socialContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-align-justify"></i>
      </button>
      <div class="collapse navbar-collapse" id="socialContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-facebook-square"></i><span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-twitter-square"></i><span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link social-btn" href="#"><i class="fab fa-instagram"></i><span class="sr-only">(current)</span></a></li>
        </ul>
         
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><%= link_to 'EN', index_path(locale: :en) %><li>
          <li class="nav-item"><%= link_to 'UA', index_path(locale: :uk) %></li>

          <% if current_user %>
            <li class="nav-item"><%= current_user.name %> - <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'login-control' %></li>
          <% else %>
            <li class="nav-item"><%= link_to "Sign In", new_user_session_path, class: 'login-control' %></li>
            |  
            <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, class: 'login-control'  %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <nav class="navbar navbar-second navbar-expand-md" data-toggle="sticky-onscroll">
        

        <div class="collapse navbar-collapse dual-collapse2 order-1 order-md-0 navbarSupportedContent">
          <ul class="navbar-nav  ml-auto text-center">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%=t('toolbar.information')%>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown"> 
                <a class="dropdown-item" href="/<%=locale%>/index_posts/all_classes"><%=t('toolbar.school_classes')%></a>
                <a class="dropdown-item" href="/<%=locale%>/index_posts/class_schedule"><%=t('toolbar.class_schedule')%></a>
                <a class="dropdown-item" href="/<%=locale%>/index_posts/workshop_schedule%>"><%=t('toolbar.workshop_schedule')%></a>
                <a class="dropdown-item" href="/<%=locale%>/index_posts/preschool"><%=t('toolbar.preschool')%></a>
                <a class="dropdown-item" href="/<%=locale%>/index_posts/babygroup"><%=t('toolbar.babygroup')%></a>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/<%=locale%>/index_posts/cost"><%=t('toolbar.cost')%></a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%=t('toolbar.workshops')%>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/<%=locale%>/workshops"><%=t('toolbar.all_workshops')%></a>
                <div class="dropdown-divider"></div>
                <% if @all_workshops.length > 0 %>
                  <% @all_workshops.each do |workshop| %>
                    <a class="dropdown-item" href="/<%=locale%>/workshops/<%=workshop.id%>"><%=workshop.name%></a>
                  <% end %>
                <% end %>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Шкільне Життя
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>

        <div class="mx-auto my-2 order-0 order-md-1 position-relative">
          <a class="mx-auto" id="school-logo" href="/index">
              <img src="//placehold.it/120/ccff00" class="rounded-circle">
          </a>
          <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target=".navbarSupportedContent" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-arrow-circle-down"></i>
          </button>
        </div>
        
        <div class="collapse navbar-collapse dual-collapse2 order-2 order-md-2 navbarSupportedContent">
          <ul class="navbar-nav mr-auto text-center">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%=t('toolbar.news')%>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/<%=locale%>/about/news"><%=t('toolbar.all_news')%></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/<%=locale%>/galleries"><%=t('toolbar.galleries')%></a>
                <a class="dropdown-item" href="#">Another action</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%=t('toolbar.teachers')%>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/courses"><%=t('toolbar.our_approach')%></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/englishclass">English</a>
                <a class="dropdown-item" href="#">Deutsch</a>
                <a class="dropdown-item" href="#">Ukainian</a>
                <a class="dropdown-item" href="#">History</a>


                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Шкільне Життя
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
    </nav>
      <% end %>
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash.now[:alert] %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash.now[:alert] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-waring">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
      
      <% end %>
      <%= yield %> 

  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script> 
  </body>
</html>
